@charset "utf-8";
/* CSS Document */

body {
    min-width: 1050px;
}

.nav {
background-color:#333;
width: 100%;
z-index: 9999;
height: 80px;
}

.arun img{
margin-top: -3px;
margin-left: 2px;
} 

.style11 {
margin-right: 90px;
}

.nav li {
color: #fff;
display: inline;
margin-left: 20px;
line-height: 20px;
height: 80px;
}


.nav li a{
text-decoration: none;
color: #fff;
}

.container a{
text-decoration: none;
}

.nav li a:hover {
color:#009999
}

.jumbotron {
background:url(img/Untitled-3.jpg) no-repeat center center;
background-size: cover;
height: 650px;
margin-left:auto;
margin-right:auto;
position:relative;
}

.jumbotron h1 {
color: #393c3d;
text-transform: uppercase;
margin-left: 327px;
margin-right:auto;
}

.jumbotron p{
letter-spacing: 1.5px;
margin-left: 327px;
margin-right:auto;
}

.jumbotron a{
background:#000;
opacity: 0.8;
color: #fff;
padding: 12px 15px;
text-transform:uppercase;
letter-spacing: 1.5px;
margin-left: 327px;
}

.style4:hover {
background: #117bff;
cursor: pointer; 
transition: background .5s; 
}
.col-md-3 img{
text-align:center;
display:block;
margin-left:auto;
margin-right:auto;
}

.col-md-3 h3 a{
text-decoration:none;
color: #333;
}

.col-md-3 .gmail a{
color: #000066;
text-decoration:underline;
}

.about-me {
background-color: #efefef;
border-top: 1px solid #dbdbdb;
margin-bottom: 10px;
border-bottom: 1px solid #dbdbdb;
}

.about-me h2 {
font-size: 24px;
margin-left: 50px;
}

.style7 img{
margin-right: 5px;
margin-top: -14px;
}


.about-me h2 a{
text-decoration:none;
color:#333;
}
.about-me p{
font-size: 15px;
margin-left: 50px;
margin-bottom: 35px;
}

.learn-more {
margin-top: 5px;
}

.footer { 
	background: #000;
	height: 80px; 
}

.footer p { 
	color: #fff;
	font-size: 14px;  
	height: 80px; 
	line-height: 80px;
	margin: 0;  
}